Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace





Howitzer.umap
Howitzer_BuiltData.uasset
VF_RandomNoise_01_90.uasset
VF_F60.uasset
VelocityGrid60.uasset
vel_295.uasset
vel_219.uasset
Noisy_Turbulence_103.uasset

Bound.uasset
Cast.uasset
Death.uasset
Det_Charge_Cooldown_End.uasset
Det_Charge_Cooldown_Loop.uasset
Det_Charge_Fire.uasset
\Det_Charge_Target.uasset
Det_Charge_Target_Loop.uasset
Emote_BootyShake_T3.uasset
Emote_ShakeFist_MC_T3.uasset
Hit_React_Bck.uasset
Hit_React_Fwd.uasset
Hit_React_Lft.uasset
Hit_React_Rt.uasset
Idle.uasset
Idle_Break.uasset
IdlePose_Zero_Additive.uasset
Jump_Fall.uasset
Jump_Fall_Additive.uasset
Jump_Land.uasset
Jump_pad.uasset
jump_up.uasset
Knock_Back.uasset
KnockBack_Bwd.uasset
Launch_Ready.uasset
Launch_Ready_Loop.uasset
Lean_Center.uasset
Lean_Lft.uasset
Lean_Rt.uasset
LevelStart.uasset
LevelStart_Montage.uasset
LRM_Fire_V2.uasset
LRM_Fire_V2_Additive.uasset
LRM_Jump_Fire.uasset
LRM_Ready_Loop.uasset
LRM_Ready_V2.uasset
Missile_Swarm_Aim.uasset
Missile_Swarm_End.uasset
Missile_Swarm_Fire.uasset
Missile_Swarm_Start.uasset
Primary_Fire.uasset
Primary_Fire_Fast.uasset
Primary_Fire_Fast_V1.uasset
Primary_Fire_Slow.uasset
Primary_Fire_V1.uasset
Primary_Fire_V1_Montage.uasset
Recall.uasset
Respawn.uasset
Run_Bwd.uasset
Run_Fwd.uasset
Run_Lft.uasset
Run_Rt.uasset
Secondary_Fire.uasset
Slope_Bwd.uasset
Slope_BwdLeft.uasset
Slope_BwdRight.uasset
Slope_Fwd.uasset
Slope_FwdLeft.uasset
Slope_FwdRight.uasset
Slope_Left.uasset
Slope_Right.uasset
Sprint_Back.uasset
Sprint_Fwd.uasset
Sprint_Lft.uasset
Sprint_Rt.uasset
Stun.uasset
Travel_Mode_Idle.uasset
Travel_Mode_Jump_Fall.uasset
Travel_Mode_Jump_Fall_Idle.uasset
Travel_Mode_Jump_Up.uasset
Travel_Mode_Jump_Up_Idle.uasset
Travel_Mode_Precharge.uasset
turn_lft.uasset
turn_rt.uasset